@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/utilities";

$body-bg: #f3f8f9;
$custom-colors: (
	"custom-blue": #009ba1,
	"custom-gray": #333333
);

$theme-colors: map-merge($theme-colors, $custom-colors);

@import "bootstrap/scss/bootstrap.scss";
